node_modules
results
.claude/settings.local.json
web-perf-cli-*.json
.pagespeed-apikey
urls.txt
tasks
.claude/*-log.txt
.ai/screenshots/*-log.txt
docs/
.rtk/
.ai/
# Added by code-review-graph
.code-review-graph/
